@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
   --main-color: #0A3250;
   --seconde-color: #0A3250;
   --seconde-main-color: rgb(255, 243, 133);
   --th-color: rgba(163, 163, 163, 0.476);
   --bg-color: rgba(0, 0, 0, 0.167);
   --bg-servise: #f1f1f1;
   --font-family1: 'Zen Dots', cursive;
   --font-family2: 'Roboto Condensed', sans-serif;
   --font-family3: 'Rubik', sans-serif;
   --font-family4: 'Kdam Thmor Pro', sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.contain{
   position: relative;
   width: 70%;
   height: 800px;
   background-color: white;
   border: 3px solid #98989861;
   border-radius: 12px;
   margin: 43px auto;
   box-shadow: 5.0px 10.1px 10.1px hsl(0deg 0% 0% / 0.34);
   font-family: 'Ubuntu', sans-serif;

}

.imgone{
   width: 200px;
   margin: 14px 22px 44px 134px;
   position: absolute;
   top: 98px;
}
.imgtwo{
   width: 159px;
   height: 100px;
   margin: 51px 0px 276px 643px;
}

h1{
   position: absolute;
   display: inline;
   margin: -241px 0px 0px 445px;
}

.leftbar{
   position: absolute;
   width: 204px;
   height: 504px;
   left: 44px;
   top: 251px;
   background-color: rgb(229 228 228 / 52%);
   border: 1px solid #c9c9c9;
   border-radius: 10px;
   padding: 20px;
}
.leftbar:hover{
   box-shadow: 0px 3px 9.1px rgb(105 129 138 / 47%);
   transition:box-shadow .3s ease-in .1s ;
}
a{
   text-decoration: none;
   display: block;
   margin: 16px 0px 57px 26px;
   font-size: 34px;
   font-weight: 50;
   color: rgb(17 117 147);
   box-shadow: inset 0 0 0 0 var(--main-color);
   transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
   cursor: pointer;
}
#one{
   color: #0A3250;
   font-weight: 900;
   text-decoration: underline;
}
.form{
   margin:4px 0px 0px 336px;
}
.oneoneone{
   display: flex;
   justify-content: start;
   align-content: flex-start;
   flex-wrap: wrap;
}
.oneone{
   display: flex;
   justify-content: start;
   align-content: flex-start;
   flex-wrap: wrap;
}
input{
   width: 314px;
   height: 56px;
   padding: 12px;
}
#two{
   margin-right: 44px;
   margin-top: 37px;
}
#three{
   margin-right: 44px;
   margin-top: 37px;
}
input[type=submit]{
   margin: 55px 0px 0px 150px;
}
.leftbar a:hover:not(#one){
   color: white;
   box-shadow: inset 200px 0 0 0 var(--main-color);
}

#formformtwo {
   margin: -445px 0px 0px 336px;
   visibility:hidden;
}
.header{
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: rgb(19, 25, 25);
}
.nav1 p{
   margin-top: 19px;
   margin-left: -314px;
   font-size: 18px;
   color: white;
   font-family: var(--font-family2);
}
.nav1 a{
   font-size: 22px;
   color: white;
}
.nav1{
   display: inherit;
   height: 53px;
   backdrop-filter: blur(9px);
   width: 100%;
   justify-content: space-evenly;
   border-bottom: 1px solid var(--th-color);
}
.nav2{
   margin-top: 53px;
   width: 100%;
   height: 120px;
   z-index: 12;
   margin-left: -1916px;
   backdrop-filter: blur(9px);
   border-bottom: 1px solid var(--th-color);
   font-family: var(--font-family1);
}
.nav2 img{
   width: 144px;
   height: 73px;
   margin: 1em 0 0 8em;
}
.nav2 .list{
   display: flex;
   justify-content: end;
   margin-right: 253px;
   margin-top: -54px;
   color: white;
}
.nav2 i a{
   font-size: 15px;
   color: white;
   margin-right: 43px;
}
.totosearch {
   width: 159px;
   height: 32px;
   background-color: #edf2fb;
   border-radius: 8px;
   position: relative;
   left: 1639px;
   top: -140px;
   position: relative;
   padding: 11px;
   color: rgb(0, 0, 0);
   font-family: var(--font-family4);
   border: 0px;
   transition: border 1s;
   transition: box-shadow 1s;
}
#tosearch {
   background-color: #edf2fb;
   position: relative;
   top: -140px;
   left: 1490px;
   width: 69px;
   height: 36px;
   padding: 8px;
   border-radius: 12px;
   font-family: var(--font-family4);
   border: 0px;
   transition: border 1s;
   transition: box-shadow 1s;
}